html{
	background-image: url("str.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#photomoi {
	display: flex;
	position: absolute;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 5px;
}

#photolaposte {
	display: flex;
	position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 75%;
    margin-top: 10px;
}

header{
    width: 100%;
    padding: 20px 0px;
    background: url("espace.jpg") #4f4f4f;
    background-repeat: repeat;
    box-shadow: 0px 0px 15px #333;
    text-align : center;
}

header{
    border-bottom: 2px solid #fff;
    height: 120px;
    margin-bottom: 20px;
}

.intro,.facteur{
    color: white;
    font-size: 2.2em;
}

.aria{
	color: yellow;
	text-align: center;
}

aside{
	position: fixed;
	background-image: url("trounoir.jpg");
	width: 350px;
    height: 260px;
	border : 3px green groove;
	box-shadow: 0px 0px 10px #777;
	border-radius: 20%;
}

nav{
	justify-content: flex-start;
}

.navigation{
    color: red;
    margin-left: 20px;
}


ul>.navigation{
	color: black;
}

.ref{
	list-style-image: url("nav.png");
}

a{
	color: green;
}

a:hover{
	background: red;
}

div{
	background-image: url("fondg.jpg");
	border: 3px red ridge;
	box-shadow: 0px 0px 10px #777;
	margin-left: 380px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#passé,#compétences,#simplon,#autoformation,#passions{
	font-weight: bold;
	font-size: 2.2em;
	text-align: center;
	text-decoration: underline;
	color: purple;
}

p{
	word-wrap: break-word;
	text-align: justify;
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
}

.comp{
	list-style-image: url("nav2.png");
	font-size: 1.2em;
}

span{
	font-weight: bold;
}

h3{
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

footer{
	margin-top: 20px ;
    width: 100%;
    padding: 20px 0px;
    background: url("espace.jpg") #4f4f4f;
    background-repeat: repeat;
    box-shadow: 0px 0px 15px #333;
    text-align : center;
}

.chap{
	color: lime;
}

figure{
	text-align: center;
	font-size: 1.2em;
	color: blue;
}

@media screen and (max-width: 980px){

aside{
	display: none;
}

div{
	margin-left: 0px;
	background-repeat: repeat;
}

#photomoi {
	display: none;
}

#photolaposte {
	display: none;
}

figure{
	display: none;
}